.cart-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8f9fa;
  }
  
  .cart-container {
    flex: 1;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
  }
  
  .cart-back-button {
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cart-back-button:hover {
    background: #002244;
  }
  
  .cart-container h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .cart-item div {
    flex-grow: 1;
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .remove-btn:hover {
    background-color: #b52a34;
  }
  
  .pay-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    width: 100%;
  }
  
  .pay-button:hover {
    background: #218838;
  }
  